In [7]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [8]:
#store the CSV we saved from WeatherPy
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Guerrero Negro,MX,2022-02-02 00:24:41,27.9769,-114.0611,62.46,65,99,14.03
1,1,Mataura,NZ,2022-02-02 00:26:57,-46.1927,168.8643,77.70,58,93,5.55
2,2,Severo-Kurilsk,RU,2022-02-02 00:26:58,50.6789,156.1250,30.06,78,88,11.48
3,3,Puerto Ayora,EC,2022-02-02 00:26:59,-0.7393,-90.3518,75.54,94,72,3.00
4,4,Tiksi,RU,2022-02-02 00:27:00,71.6872,128.8694,-11.16,97,100,6.87
...,...,...,...,...,...,...,...,...,...,...
554,554,Ivankiv,UA,2022-02-02 00:46:06,50.9386,29.8943,25.03,93,33,7.74
555,555,Matagami,CA,2022-02-02 00:46:06,49.7502,-77.6328,28.51,74,100,25.32
556,556,Roald,NO,2022-02-02 00:46:07,62.5833,6.1333,38.34,87,100,9.22
557,557,Zabol,AF,2022-02-02 00:46:08,32.2500,67.2500,33.17,100,100,8.23
558,558,Tigre,AR,2022-02-02 00:46:09,-34.4260,-58.5796,78.94,65,0,6.91

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Guerrero Negro,MX,2022-02-02 00:24:41,27.9769,-114.0611,62.46,65,99,14.03
1,1,Mataura,NZ,2022-02-02 00:26:57,-46.1927,168.8643,77.70,58,93,5.55
2,2,Severo-Kurilsk,RU,2022-02-02 00:26:58,50.6789,156.1250,30.06,78,88,11.48
3,3,Puerto Ayora,EC,2022-02-02 00:26:59,-0.7393,-90.3518,75.54,94,72,3.00
4,4,Tiksi,RU,2022-02-02 00:27:00,71.6872,128.8694,-11.16,97,100,6.87
...,...,...,...,...,...,...,...,...,...,...
554,554,Ivankiv,UA,2022-02-02 00:46:06,50.9386,29.8943,25.03,93,33,7.74
555,555,Matagami,CA,2022-02-02 00:46:06,49.7502,-77.6328,28.51,74,100,25.32
556,556,Roald,NO,2022-02-02 00:46:07,62.5833,6.1333,38.34,87,100,9.22
557,557,Zabol,AF,2022-02-02 00:46:08,32.2500,67.2500,33.17,100,100,8.23
558,558,Tigre,AR,2022-02-02 00:46:09,-34.4260,-58.5796,78.94,65,0,6.91

In [9]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [10]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [11]:
#Get the max temp and eliminate negative temps
max_temp=city_data_df["Max Temp"]
temps=[]
for temp in max_temp:
    temps.append(max(temp,0))

In [12]:
#Heatmap of temps
#get the lats & longs
locations = city_data_df[["Lat", "Lng"]]
#Get the max temp
#max_temp=city_data_df["Max Temp"]
#Assign the figure a variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2)
#Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
#Add the heatmap layer
fig.add_layer(heat_layer)
#Call the figure to plot the data

fig

Figure(layout=FigureLayout(height='420px'))

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=75, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 80

In [22]:
city_data_df.columns

Index(['City_ID', 'City', 'Country', 'Date', 'Lat', 'Lng', 'Max Temp',
       'Humidity', 'Cloudiness', 'Wind Speed'],
      dtype='object')

In [27]:
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"]<=max_temp) & (city_data_df["Max Temp"]>= min_temp)]
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Mataura,NZ,2022-02-02 00:26:57,-46.1927,168.8643,77.70,58,93,5.55
3,3,Puerto Ayora,EC,2022-02-02 00:26:59,-0.7393,-90.3518,75.54,94,72,3.00
5,5,Port Alfred,ZA,2022-02-02 00:27:01,-33.5906,26.8910,77.68,78,100,5.26
6,6,Port Elizabeth,ZA,2022-02-02 00:24:00,-33.9180,25.5701,76.10,83,0,2.30
7,7,Ixtapa,MX,2022-02-02 00:23:52,20.7000,-105.2000,76.23,50,0,11.50
...,...,...,...,...,...,...,...,...,...,...
545,545,Yaan,NG,2022-02-02 00:45:59,7.3833,8.5667,75.16,17,3,1.36
546,546,Corowa,AU,2022-02-02 00:46:00,-36.0333,146.3833,72.57,45,7,8.41
547,547,Ojinaga,MX,2022-02-02 00:46:01,29.5667,-104.4167,70.75,23,0,0.00
552,552,Miguelopolis,BR,2022-02-02 00:43:26,-20.1794,-48.0319,73.22,94,100,2.93
558,558,Tigre,AR,2022-02-02 00:46:09,-34.4260,-58.5796,78.94,65,0,6.91

In [28]:
preferred_cities_df.count()

City_ID       128
City          128
Country       128
Date          128
Lat           128
Lng           128
Max Temp      128
Humidity      128
Cloudiness    128
Wind Speed    128
dtype: int64

In [46]:
#Create Hotel DF
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng", ]].copy()
hotel_df["Hotel Name"]=""
hotel_df

               City Country  Max Temp      Lat       Lng Hotel Name
1           Mataura      NZ     77.70 -46.1927  168.8643
3      Puerto Ayora      EC     75.54  -0.7393  -90.3518
5       Port Alfred      ZA     77.68 -33.5906   26.8910
6    Port Elizabeth      ZA     76.10 -33.9180   25.5701
7            Ixtapa      MX     76.23  20.7000 -105.2000
..              ...     ...       ...      ...       ...        ...
545            Yaan      NG     75.16   7.3833    8.5667
546          Corowa      AU     72.57 -36.0333  146.3833
547         Ojinaga      MX     70.75  29.5667 -104.4167
552    Miguelopolis      BR     73.22 -20.1794  -48.0319
558           Tigre      AR     78.94 -34.4260  -58.5796

[128 rows x 6 columns]

In [47]:

params = {"radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [52]:
for index, city in hotel_df.iterrows():
    #Get lat lng
    lat = city["Lat"]
    lng = city["Lng"]
    
    #add lat lng to params
    params["location"] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
    
    #make request and get json
    
    hotels = requests.get(base_url, params=params).json()
    try:
    #grab first hotel
        hotel_df.loc[index,"Hotel Name"]=hotels["results"][0]["name"]
    except IndexError:
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [64]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [66]:
hotel_info

["\n<dl>\n<dt>Hotel Name</dt><dd>Ellie's Villa</dd>\n<dt>City</dt><dd>Mataura</dd>\n<dt>Country</dt><dd>NZ</dd>\n<dt>Max Temp</dt><dd>77.7 °F</dd>\n</dl>\n",
 '\n<dl>\n<dt>Hotel Name</dt><dd>Finch Bay Galapagos Hotel</dd>\n<dt>City</dt><dd>Puerto Ayora</dd>\n<dt>Country</dt><dd>EC</dd>\n<dt>Max Temp</dt><dd>75.54 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>The Halyards Hotel</dd>\n<dt>City</dt><dd>Port Alfred</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Max Temp</dt><dd>77.68 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>39 On Nile Guest House</dd>\n<dt>City</dt><dd>Port Elizabeth</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Max Temp</dt><dd>76.1 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Plaza Providencia</dd>\n<dt>City</dt><dd>Ixtapa</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Max Temp</dt><dd>76.23 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hospitality Carnarvon</dd>\n<dt>City</dt><dd>Carnarvon</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Max Temp</dt><dd>78.87 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villa Enata</dd>\n<dt>City</dt><dd>Atuona</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Max Temp</dt><dd>78.57 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Agapita M. Nicart</dd>\n<dt>City</dt><dd>San Policarpo</dd>\n<dt>Country</dt><dd>PH</dd>\n<dt>Max Temp</dt><dd>79.83 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Bungalow 63</dd>\n<dt>City</dt><dd>Hambantota</dd>\n<dt>Country</dt><dd>LK</dd>\n<dt>Max Temp</dt><dd>71.94 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hôtel Le Dronmi</dd>\n<dt>City</dt><dd>Cayenne</dd>\n<dt>Country</dt><dd>GF</dd>\n<dt>Max Temp</dt><dd>75.09 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>People ThankYou</dd>\n<dt>City</dt><dd>Rikitea</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Max Temp</dt><dd>78.22 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Bredasdorp Country Manor</dd>\n<dt>City</dt><dd>Bredasdorp</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Max Temp</dt><dd>73.35 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Oyster Bay House Rental</dd>\n<dt>City</dt><dd>Kruisfontein</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Max Temp</dt><dd>73.89 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Goodin Country Garden</dd>\n<dt>City</dt><dd>Okato</dd>\n<dt>Country</dt><dd>NZ</dd>\n<dt>Max Temp</dt><dd>71.69 °F</dd>\n</dl>\n',
 "\n<dl>\n<dt>Hotel Name</dt><dd>Idlers' Rest Beach Hotel</dd>\n<dt>City</dt><dd>Black River</dd>\n<dt>Country</dt><dd>JM</dd>\n<dt>Max Temp</dt><dd>75.2 °F</dd>\n</dl>\n",
 '\n<dl>\n<dt>Hotel Name</dt><dd>Desert Palms Alice Springs</dd>\n<dt>City</dt><dd>Alice Springs</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Max Temp</dt><dd>71.15 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Pousada Porto Praia</dd>\n<dt>City</dt><dd>Arraial Do Cabo</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Max Temp</dt><dd>75.16 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Kaitangata Motor Camp</dd>\n<dt>City</dt><dd>Kaitangata</dd>\n<dt>Country</dt><dd>NZ</dd>\n<dt>Max Temp</dt><dd>79.93 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sea Lounge! Bar, Club & Restaurant</dd>\n<dt>City</dt><dd>Itarema</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Max Temp</dt><dd>79.7 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Grage Hotel Bengkulu</dd>\n<dt>City</dt><dd>Bengkulu</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Max Temp</dt><dd>74.28 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Mercure Padang</dd>\n<dt>City</dt><dd>Padang</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Max Temp</dt><dd>73.45 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Scenic Hotel Southern Cross</dd>\n<dt>City</dt><dd>Dunedin</dd>\n<dt>Country</dt><dd>NZ</dd>\n<dt>Max Temp</dt><dd>70.81 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Gran Hotel Mar del Plata</dd>\n<dt>City</dt><dd>Mar Del Plata</dd>\n<dt>Country</dt><dd>AR</dd>\n<dt>Max Temp</dt><dd>70.88 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hilo Hawaiian Hotel</dd>\n<dt>City</dt><dd>Hilo</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Max Temp</dt><dd>75.25 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>HOTEL SAN FELIPE</dd>\n<dt>City</dt><dd>Anahuac</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Max Temp</dt><dd>78.3 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Tesoro Los Cabos</dd>\n<dt>City</dt><dd>Cabo San Lucas</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Max Temp</dt><dd>77.5 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Castelo</dd>\n<dt>City</dt><dd>Cidreira</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Max Temp</dt><dd>72.45 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Tu Casa</dd>\n<dt>City</dt><dd>East London</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Max Temp</dt><dd>76.57 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel do Campo</dd>\n<dt>City</dt><dd>Ponta Do Sol</dd>\n<dt>Country</dt><dd>PT</dd>\n<dt>Max Temp</dt><dd>70.12 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Lorengau Harbourside Hotel</dd>\n<dt>City</dt><dd>Lorengau</dd>\n<dt>Country</dt><dd>PG</dd>\n<dt>Max Temp</dt><dd>79.99 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>VS Villa</dd>\n<dt>City</dt><dd>Kalmunai</dd>\n<dt>Country</dt><dd>LK</dd>\n<dt>Max Temp</dt><dd>71.83 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Casa do Ian😎</dd>\n<dt>City</dt><dd>Jacareacanga</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Max Temp</dt><dd>73.92 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Inácio Palace Hotel</dd>\n<dt>City</dt><dd>Rio Branco</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Max Temp</dt><dd>74.01 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd></dd>\n<dt>City</dt><dd>Beloha</dd>\n<dt>Country</dt><dd>MG</dd>\n<dt>Max Temp</dt><dd>71.06 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hôtel & Restaurant DIANA Ambilobe</dd>\n<dt>City</dt><dd>Ambilobe</dd>\n<dt>Country</dt><dd>MG</dd>\n<dt>Max Temp</dt><dd>73.92 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Grand Palladium Jamaica Resort & Spa</dd>\n<dt>City</dt><dd>Lucea</dd>\n<dt>Country</dt><dd>JM</dd>\n<dt>Max Temp</dt><dd>75.06 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Pousada Alvorada</dd>\n<dt>City</dt><dd>Raposa</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Max Temp</dt><dd>74.35 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>The County Luxury Comfort Hotels Ltd</dd>\n<dt>City</dt><dd>Mariakani</dd>\n<dt>Country</dt><dd>KE</dd>\n<dt>Max Temp</dt><dd>71.38 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>INN NEW HORIZON</dd>\n<dt>City</dt><dd>Touros</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Max Temp</dt><dd>79.7 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Montana Hotel Syariah</dd>\n<dt>City</dt><dd>Martapura</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Max Temp</dt><dd>77.09 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Plaza Marsol</dd>\n<dt>City</dt><dd>Tecolutla</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Max Temp</dt><dd>70.05 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Atlantis Hotel</dd>\n<dt>City</dt><dd>Bathsheba</dd>\n<dt>Country</dt><dd>BB</dd>\n<dt>Max Temp</dt><dd>79.41 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Vila Real Hotel</dd>\n<dt>City</dt><dd>Porto Nacional</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Max Temp</dt><dd>75.2 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Prestige Hotel</dd>\n<dt>City</dt><dd>Bondoukou</dd>\n<dt>Country</dt><dd>CI</dd>\n<dt>Max Temp</dt><dd>72.12 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Motel Fantasy Star</dd>\n<dt>City</dt><dd>Carolina</dd>\n<dt>Country</dt><dd>PR</dd>\n<dt>Max Temp</dt><dd>78.48 °F</dd>\n</dl>\n',
 "\n<dl>\n<dt>Hotel Name</dt><dd>Li'l Abner Mobile Home Park</dd>\n<dt>City</dt><dd>Sweetwater</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Max Temp</dt><dd>70.02 °F</dd>\n</dl>\n",
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Kou-Bugny</dd>\n<dt>City</dt><dd>Vao</dd>\n<dt>Country</dt><dd>NC</dd>\n<dt>Max Temp</dt><dd>78.31 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Av. Castelo Branco. Ginásio Ermelino vieira.</dd>\n<dt>City</dt><dd>Alvaraes</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Max Temp</dt><dd>73.85 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Argos</dd>\n<dt>City</dt><dd>Bahia Blanca</dd>\n<dt>Country</dt><dd>AR</dd>\n<dt>Max Temp</dt><dd>71.96 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Die Lemoenhuis</dd>\n<dt>City</dt><dd>Calvinia</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Max Temp</dt><dd>70.99 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd></dd>\n<dt>City</dt><dd>Boende</dd>\n<dt>Country</dt><dd>CD</dd>\n<dt>Max Temp</dt><dd>78.66 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>CeBlue Villas & Beach Resort</dd>\n<dt>City</dt><dd>The Valley</dd>\n<dt>Country</dt><dd>AI</dd>\n<dt>Max Temp</dt><dd>78.82 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>SEGAYA PROPERTY</dd>\n<dt>City</dt><dd>Dingle</dd>\n<dt>Country</dt><dd>PH</dd>\n<dt>Max Temp</dt><dd>79.77 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Motel 6 Sinton, TX</dd>\n<dt>City</dt><dd>San Patricio</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Max Temp</dt><dd>70.21 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>KOSAN UNGU UNSIK</dd>\n<dt>City</dt><dd>Kawalu</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Max Temp</dt><dd>76.95 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Thanda Vista B&B</dd>\n<dt>City</dt><dd>Plettenberg Bay</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Max Temp</dt><dd>73.45 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Riviera Royal Hotel</dd>\n<dt>City</dt><dd>Conakry</dd>\n<dt>Country</dt><dd>GN</dd>\n<dt>Max Temp</dt><dd>78.87 °F</dd>\n</dl>\n',
 "\n<dl>\n<dt>Hotel Name</dt><dd>POUSADA TRAVÉS'CIA</dd>\n<dt>City</dt><dd>Cururupu</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Max Temp</dt><dd>75.99 °F</dd>\n</dl>\n",
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Acauã - ORLA</dd>\n<dt>City</dt><dd>Juruti</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Max Temp</dt><dd>76.28 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Ahipara Holiday Park</dd>\n<dt>City</dt><dd>Ahipara</dd>\n<dt>Country</dt><dd>NZ</dd>\n<dt>Max Temp</dt><dd>76.17 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sur Plaza Hotel</dd>\n<dt>City</dt><dd>Sur</dd>\n<dt>Country</dt><dd>OM</dd>\n<dt>Max Temp</dt><dd>71.38 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel San Isidro Oficial</dd>\n<dt>City</dt><dd>Pisco</dd>\n<dt>Country</dt><dd>PE</dd>\n<dt>Max Temp</dt><dd>70.02 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Boutique Quinta das Videiras</dd>\n<dt>City</dt><dd>Florianopolis</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Max Temp</dt><dd>76.37 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villa Verde Hotel</dd>\n<dt>City</dt><dd>Eldorado</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Max Temp</dt><dd>78.08 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Peace and Love Beach Club</dd>\n<dt>City</dt><dd>Caramay</dd>\n<dt>Country</dt><dd>PH</dd>\n<dt>Max Temp</dt><dd>79.83 °F</dd>\n</dl>\n',
 "\n<dl>\n<dt>Hotel Name</dt><dd>Dream'S Motel</dd>\n<dt>City</dt><dd>Alem Paraiba</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Max Temp</dt><dd>73.96 °F</dd>\n</dl>\n",
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Saigon-PT</dd>\n<dt>City</dt><dd>Phan Thiet</dd>\n<dt>Country</dt><dd>VN</dd>\n<dt>Max Temp</dt><dd>78.37 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd></dd>\n<dt>City</dt><dd>Gogrial</dd>\n<dt>Country</dt><dd>SS</dd>\n<dt>Max Temp</dt><dd>70.47 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd></dd>\n<dt>City</dt><dd>Gamba</dd>\n<dt>Country</dt><dd>GA</dd>\n<dt>Max Temp</dt><dd>77.83 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>posadas</dd>\n<dt>City</dt><dd>Dzilam Gonzalez</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Max Temp</dt><dd>75.65 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Xaguate</dd>\n<dt>City</dt><dd>Sao Filipe</dd>\n<dt>Country</dt><dd>CV</dd>\n<dt>Max Temp</dt><dd>73.35 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Grand Continental Kuala Terengganu (4 Star)</dd>\n<dt>City</dt><dd>Kuala Terengganu</dd>\n<dt>Country</dt><dd>MY</dd>\n<dt>Max Temp</dt><dd>76.95 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Grand Ramela Hotel</dd>\n<dt>City</dt><dd>Kisangani</dd>\n<dt>Country</dt><dd>CD</dd>\n<dt>Max Temp</dt><dd>70.66 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Pousada dos Navegantes</dd>\n<dt>City</dt><dd>Caravelas</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Max Temp</dt><dd>76.53 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hosteria Sampedro</dd>\n<dt>City</dt><dd>Rawson</dd>\n<dt>Country</dt><dd>AR</dd>\n<dt>Max Temp</dt><dd>76.15 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Seaview Dormitel</dd>\n<dt>City</dt><dd>Rapu-Rapu</dd>\n<dt>Country</dt><dd>PH</dd>\n<dt>Max Temp</dt><dd>78.39 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Pousada Nossa Senhora do Carmo</dd>\n<dt>City</dt><dd>Iguape</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Max Temp</dt><dd>75.2 °F</dd>\n</dl>\n',
 "\n<dl>\n<dt>Hotel Name</dt><dd>Nathaniel's Lodge</dd>\n<dt>City</dt><dd>Basco</dd>\n<dt>Country</dt><dd>PH</dd>\n<dt>Max Temp</dt><dd>74.34 °F</dd>\n</dl>\n",
 '\n<dl>\n<dt>Hotel Name</dt><dd>castelo pizzaria</dd>\n<dt>City</dt><dd>Acarau</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Max Temp</dt><dd>79.48 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Oceano</dd>\n<dt>City</dt><dd>Inhambane</dd>\n<dt>Country</dt><dd>MZ</dd>\n<dt>Max Temp</dt><dd>75.04 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hôtel Chat Rouge</dd>\n<dt>City</dt><dd>Kita</dd>\n<dt>Country</dt><dd>ML</dd>\n<dt>Max Temp</dt><dd>71.58 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Mega Hotel, Miri</dd>\n<dt>City</dt><dd>Miri</dd>\n<dt>Country</dt><dd>MY</dd>\n<dt>Max Temp</dt><dd>77.14 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Amaloh Boutique Resort</dd>\n<dt>City</dt><dd>Matara</dd>\n<dt>Country</dt><dd>LK</dd>\n<dt>Max Temp</dt><dd>70.88 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Khách Sạn Bình Phước - Khách Sạn Ngọc Lan</dd>\n<dt>City</dt><dd>Dong Xoai</dd>\n<dt>Country</dt><dd>VN</dd>\n<dt>Max Temp</dt><dd>78.82 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>BON Hotel Waterfront Richards Bay</dd>\n<dt>City</dt><dd>Richards Bay</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Max Temp</dt><dd>75.36 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Meriton Suites Zetland</dd>\n<dt>City</dt><dd>Kensington</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Max Temp</dt><dd>70.0 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villa Gerona</dd>\n<dt>City</dt><dd>Nueva Gerona</dd>\n<dt>Country</dt><dd>CU</dd>\n<dt>Max Temp</dt><dd>74.41 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>HOTEL PLACE YALABA</dd>\n<dt>City</dt><dd>Kikwit</dd>\n<dt>Country</dt><dd>CD</dd>\n<dt>Max Temp</dt><dd>71.47 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Jaguar</dd>\n<dt>City</dt><dd>Hopelchen</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Max Temp</dt><dd>76.8 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Posada Villaven C.A.</dd>\n<dt>City</dt><dd>San Cristobal</dd>\n<dt>Country</dt><dd>VE</dd>\n<dt>Max Temp</dt><dd>71.78 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Beira Terrace Hotel</dd>\n<dt>City</dt><dd>Beira</dd>\n<dt>Country</dt><dd>MZ</dd>\n<dt>Max Temp</dt><dd>75.29 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Crôa Mares Hotel</dd>\n<dt>City</dt><dd>Sao Jose Da Coroa Grande</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Max Temp</dt><dd>79.21 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>OYO 3278 Penginapan Alfajri</dd>\n<dt>City</dt><dd>Lhokseumawe</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Max Temp</dt><dd>77.29 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Zambeze Paraíso Misterioso</dd>\n<dt>City</dt><dd>Tete</dd>\n<dt>Country</dt><dd>MZ</dd>\n<dt>Max Temp</dt><dd>75.29 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Austral Hotel</dd>\n<dt>City</dt><dd>Comodoro Rivadavia</dd>\n<dt>Country</dt><dd>AR</dd>\n<dt>Max Temp</dt><dd>76.86 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>ASTON Palembang Hotel & Conference Center</dd>\n<dt>City</dt><dd>Palembang</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Max Temp</dt><dd>73.49 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Lakan Hotel</dd>\n<dt>City</dt><dd>Tonj</dd>\n<dt>Country</dt><dd>SS</dd>\n<dt>Max Temp</dt><dd>72.39 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Sao Pedro</dd>\n<dt>City</dt><dd>Boca Do Acre</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Max Temp</dt><dd>73.35 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd></dd>\n<dt>City</dt><dd>Qandala</dd>\n<dt>Country</dt><dd>SO</dd>\n<dt>Max Temp</dt><dd>73.96 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel karsa</dd>\n<dt>City</dt><dd>Gabu</dd>\n<dt>Country</dt><dd>GW</dd>\n<dt>Max Temp</dt><dd>78.87 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Morotin</dd>\n<dt>City</dt><dd>Santa Maria</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Max Temp</dt><dd>76.3 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Assyifa</dd>\n<dt>City</dt><dd>Teluk Nibung</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Max Temp</dt><dd>76.26 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Kandrian Station</dd>\n<dt>City</dt><dd>Kandrian</dd>\n<dt>Country</dt><dd>PG</dd>\n<dt>Max Temp</dt><dd>79.03 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Juba</dd>\n<dt>City</dt><dd>Mogadishu</dd>\n<dt>Country</dt><dd>SO</dd>\n<dt>Max Temp</dt><dd>77.94 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Miramar</dd>\n<dt>City</dt><dd>Huarmey</dd>\n<dt>Country</dt><dd>PE</dd>\n<dt>Max Temp</dt><dd>71.96 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Salinas Park Resort Maçarico AP101</dd>\n<dt>City</dt><dd>Salinopolis</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Max Temp</dt><dd>79.21 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Novotel Cotonou Orisha</dd>\n<dt>City</dt><dd>Cotonou</dd>\n<dt>Country</dt><dd>BJ</dd>\n<dt>Max Temp</dt><dd>78.78 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Kamaneahn Hotel Inc</dd>\n<dt>City</dt><dd>Buchanan</dd>\n<dt>Country</dt><dd>LR</dd>\n<dt>Max Temp</dt><dd>76.96 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Posada Lilia</dd>\n<dt>City</dt><dd>Celestun</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Max Temp</dt><dd>74.03 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Casa Dora, Bubaque</dd>\n<dt>City</dt><dd>Bubaque</dd>\n<dt>Country</dt><dd>GW</dd>\n<dt>Max Temp</dt><dd>78.04 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd></dd>\n<dt>City</dt><dd>Amapa</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Max Temp</dt><dd>72.16 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Chik Chik Namibe</dd>\n<dt>City</dt><dd>Namibe</dd>\n<dt>Country</dt><dd>AO</dd>\n<dt>Max Temp</dt><dd>71.92 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Nsanje Discovery Lodge</dd>\n<dt>City</dt><dd>Nsanje</dd>\n<dt>Country</dt><dd>MW</dd>\n<dt>Max Temp</dt><dd>71.83 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>OYO 598 Peony Hotel</dd>\n<dt>City</dt><dd>Cam Ranh</dd>\n<dt>Country</dt><dd>VN</dd>\n<dt>Max Temp</dt><dd>76.96 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Nacala Plaza Business Design Hotel</dd>\n<dt>City</dt><dd>Nacala</dd>\n<dt>Country</dt><dd>MZ</dd>\n<dt>Max Temp</dt><dd>71.96 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Osprey Beach Hotel</dd>\n<dt>City</dt><dd>Cockburn Town</dd>\n<dt>Country</dt><dd>TC</dd>\n<dt>Max Temp</dt><dd>76.14 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Maiombe</dd>\n<dt>City</dt><dd>Cabinda</dd>\n<dt>Country</dt><dd>AO</dd>\n<dt>Max Temp</dt><dd>77.63 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd></dd>\n<dt>City</dt><dd>Dire</dd>\n<dt>Country</dt><dd>ML</dd>\n<dt>Max Temp</dt><dd>74.39 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>ผกากรองรีสอร์ท</dd>\n<dt>City</dt><dd>Prachuap Khiri Khan</dd>\n<dt>Country</dt><dd>TH</dd>\n<dt>Max Temp</dt><dd>77.68 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Praia Hotel Imbituba</dd>\n<dt>City</dt><dd>Imbituba</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Max Temp</dt><dd>78.82 °F</dd>\n</dl>\n',

In [67]:
#add a heatmap of temp for vacation spots
locations = hotel_df[["Lat","Lng"]]
max_temp=hotel_df["Max Temp"]
fig = gmaps.figure(center=(20.0, 31.0), zoom_level =1.8)
marker_layer=gmaps.marker_layer(locations, info_box_content = hotel_info)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating = False, max_intensity = 200, point_radius=6)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))